@{
    ViewBag.Title = "Choose Task";
}
<br /><br />
<div class="center">
<h2>Hi Name!</h2>
<h2>What would you like to do?</h2>
<br /><br />
<div>
    <a href="~/Views/Home/CreateDepartmentSchedule">Create Schedule</a><br />
    <a href="~/Views/Home/ViewDepartmentSchedule">View Department Schedule</a><br />
    <a href="~/Views/Home/EditDepartmentSchedule">Edit Department Schedule</a>
</div>
</div>