@{
    ViewBag.Title = "ChooseDepartmentToManage";
}

<div class="right">
    <a href="Index">Exit</a>
</div>

<div class="center">

<h1>Hi Josh!</h1>

<h2>What department would you like to work with?</h2>

<select>
    <option value="food">Food</option>
    <option value="retail">Retail</option>
    <option value="frontgate">Front Gates</option>
    <option value="rides">Rides</option>
     <option value="attractions">Attractions</option>
</select>  

<input type="button" value="submit" name="submit" />


    </div> 