@{
    ViewBag.Title = "Choose Task";
}
<br /><br />
<div class="right">
    <a href="Index">Exit</a>
</div>
<div class="center">
<h2>Hi Name!</h2>
<h2>What would you like to do?</h2>
<br /><br />
<div>
    <a href="CreateDepartmentSchedule">Create Schedule</a><br />
    <a href="ViewDepartmentSchedule">View Department Schedule</a><br />
    <a href="EditDepartmentSchedule">Edit Department Schedule</a>
</div>
</div>