@{
    ViewBag.Title = "Create Department Schedule";
}

<div class="center">
<div class="big">Department Schedule</div>
<br />
<table>
    <thead>
        <td>Location</td>
        <td>Employee</td>
        <td>Time In</td>
        <td>Time Out</td>
    </thead>
</table>
</div>
