@{
    ViewBag.Title = "KZ Guest Services";
}

<form id="signIn" class="center">
Username
<input type="text" name="username" />
<br />
Password
<input type="password" name="password" />
<br />
<input type="button" name="submit" value="Submit"/>
</form>

<a href="~/Views/Home/ViewEmployeeSchedule">View Employee Schedule</a>