@{
    ViewBag.Title = "KZ Guest Services";
}

<br /><br />
<div class="center">
    <img src="~/Content/Images/babyredpandas.jpg"  alt="Baby red pandas" style="border:10px solid #006633"/>
</div>
<br /><br />
<form id="signIn" class="center">
<b>Username</b>
<input type="text" name="username" />
<br />
<b>Password</b>
<input type="password" name="password" />
<br />
<input type="button" name="submit" value="Submit"/>
</form>

