@{
    ViewBag.Title = "Name's Schedule";
}

<div class="center">
<table>
    <thead>
        <tr>
            <td class="center">Name's Schedule</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>Location</td>
            <td>Time In</td>
            <td>Time Out</td>
        </tr>
    </thead>
    <tr>
        <td>11/6</td>
        <td>Safari Grill</td>
        <td>10</td>
        <td>4</td>
    </tr>
</table>
</div>