@{
    ViewBag.Title = "ViewDepartmentSchedule";
}

<div class="right">
    <a href="Home/ChooseManagementTask">Back</a>
    <a href="Home/Index">Exit</a>
</div>

<div class="center">
   <br /><br />  
   <h1>Food Schedule</h1>
    <h2>October 26 - November 1</h2>
 </div>

  <div class="tablecenter">  
    <table>
        <thead>
            <tr>
                <th>Date</th> 
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <th>Location</th>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <th>Employee</th>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <th>Time In</th>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <th>Time Out</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>October 26</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Safari Grill</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Whitney</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>10:00</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>4:00</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Safari Grill</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Meagan</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>9:30</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>CL</td>
        </tr>
         <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Slush Cart</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Brandon</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>11:00</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>3:00</td>
        </tr>
    <tr>
            <td>October 27</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Dippin' Dots</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Harley</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>11:00</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>3:00</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Safari Grill</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Ashley</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>9:30</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>CL</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Safari Grill</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Whitney</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>10:00</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>3:00</td>
        </tr>
        </tbody>

    </table>
  </div>
